@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&family=Open+Sans:wght@300;400&family=Roboto+Condensed:ital,wght@0,300;0,400;1,300&display=swap');


html {
    font-size: 16px;
}


body {
    background-color: #FFF;
    font-family: 'Open Sans', sans-serif;
    
}


/*.navlist {
    margin: 0 0 0 250px;
}*/

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #C6C7C4; /*#F9F7F3;*/
    height: 5rem;
    /*background-image: url(pngwing.png);
    background-repeat: no-repeat;
    background-size: 3%;
    background-position: 15% 50%;*/
    
}

h1 {
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    /*margin: 0 0 0 -250px;*/

}


.dis-inline {
    display: inline-block;
}


.nav-items {
    list-style-type: none;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    color: #353B3C;
    font-weight: bold;
    padding: 5px 10px;
}


.nav-items:hover {
    background-color: #e7e7e7;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    color: #353B3C;
    text-decoration-line: none;
    border-radius: 7px;
}


.nav-items:active {
    transform: translateY(1px);
}


h2 {
    font-size: 1rem;
}


.text-small {
    font-size:0.7rem;
}

.text-medium {
    font-size: 0.75rem;
    color: #353B3C;
    line-height: 1.4rem;
}


.col-iso {
    border: 7px solid #fff;
    background-color: #EEF0F2;
    background-clip: border-box;
    padding: 7px;
    border-radius: 15px;
}


.footer {
    position: absolute;
    font-family: font-family: 'Open Sans', sans-serif;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}



.form {
display: flex;
flex-direction: row;
font-size: 0.7rem;
}


.search-field {
    width: 100%;
    padding: 10px 35px 10px 15px;
    border: none;
    border-radius: 100px;
    outline: none;
}


.search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
}


.search-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.topic-border-top {
    box-sizing: border-box;
    /*border-bottom: dashed 1px #C6C7C4;*/
    border-top: dashed 1px #C6C7C4;
}


.link-small {
    font-family: 'Lato', sans-serif;
    font-size: .8rem;
    color: #353B3C;
}


.link-small:hover {
    color: #003049;
    font-size: .9rem;
    text-decoration-line: none;
}



.piilotettu-sisalto {
    
    border: .1rem dashed #846A6A;
    margin: 5px;
    background: #EEF0F2;
}


/*.nayta-info {
    display: block;   
}
*/
/*
.kaikki-tiedot-kytkin {
    display: none;
}
*/